<!-- Team -->
<section class="section bg-gray" id="team">
    <div class="team">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center wow fadeInUp">
                    <h2 class="title">Our Success Story</h2>
                    <h5 class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta molestiae minima pariatur voluptatum
                        ipsum?</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#link">
                                <img class="img" src="assets/img/team/1.jpg" alt="team" />
                            </a>
                        </div>
                        <div class="content">
                            <h4 class="card-title">Chang lee</h4>
                            <h6 class="category text-muted">CEO / Co-Founder</h6>
                            <p class="card-description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, cupiditate.
                            </p>
                            <div class="footer">
                                <a href="#link" class="btn btn-just-icon btn-facebook btn-round">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#link" class="btn btn-just-icon btn-twitter btn-round">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#link" class="btn btn-just-icon btn-linkedin btn-round">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="#link" class="btn btn-just-icon btn-dribbble btn-round">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#link">
                                <img class="img" src="assets/img/team/2.jpg" alt="team" />
                            </a>
                        </div>
                        <div class="content">
                            <h4 class="card-title">George F</h4>
                            <h6 class="category text-muted">Web Developer</h6>
                            <p class="card-description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, consequatur.
                            </p>
                            <div class="footer">
                                <a href="#link" class="btn btn-just-icon btn-facebook btn-round">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#link" class="btn btn-just-icon btn-twitter btn-round">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#link" class="btn btn-just-icon btn-linkedin btn-round">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="#link" class="btn btn-just-icon btn-dribbble btn-round">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#link">
                                <img class="img" src="assets/img/team/3.jpg" alt="team" />
                            </a>
                        </div>
                        <div class="content">
                            <h4 class="card-title">Khan Jee</h4>
                            <h6 class="category text-muted">Web Designer</h6>
                            <p class="card-description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, tenetur!
                            </p>
                            <div class="footer">
                                <a href="#link" class="btn btn-just-icon btn-facebook btn-round">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#link" class="btn btn-just-icon btn-twitter btn-round">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#link" class="btn btn-just-icon btn-linkedin btn-round">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="#link" class="btn btn-just-icon btn-dribbble btn-round">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End team -->