<!-- About -->
<section class="section" id="about">
    <div class="container">
        <div class="section-heading text-center wow fadeInUp">
            <h2 class="title">Nosotros</h2>
            <h5 class="description">
             Somos una comunidad de transformación capaz de desarrollar soluciones innovadoras frente a los desafíos de movilidad de las
            personas en las ciudades.
            </h5>
        </div>
        <!-- first row -->
        <div class="row">
            <div class="col-md-4 wow fadeInUp">
                <div class="info info-horizontal">
                    <div class="icon icon-info">
                        <i class="fa fa-check-circle"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">La mejor manera de moverte</h4>
                        <p>
                             Buscamos ser la mejor opción de movilidad para ciudadanos que valoran su tiempo, dinero y seguridad.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp">
                <div class="info info-horizontal">
                    <div class="icon icon-danger">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">De todos para todos</h4>
                        <p>
                             Reutilizamos bicicletas en bajo uso de la gente para prestárselas a quienes las necesitan.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp">
                <div class="info info-horizontal">
                    <div class="icon icon-success">
                        <i class="fa fa-bicycle"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Usa una bicicleta</h4>
                        <p>
                             Prestamos bicicletas para que miles de personas se movilicen diariamente en la ciudad.
                        </p>
                        <!-- <a href="#up">More...</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <img src="assets/img/about-img.png" alt="" class="img-responsive">
        </div> -->
        <!-- End first row -->
    </div>
</section>
<!-- End about -->
