<!-- Blog news -->
<section class="blog" id="blog">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="title">Latest Blog</h2>
            <h5 class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h5>
        </div>
        <div class="owl-carousel" id="blog-carousel">
            <div class="item">
                <div class="card card-blog">
                    <div class="card-image">
                        <a href="blog-single.html">
                            <img class="img img-raised img-responsive" src="assets/img/blog/blog1.jpg" alt="img" />
                        </a>
                    </div>
                    <div class="content">
                        <h6 class="category text-info">Technology</h6>
                        <p>
                            <i class="fa fa-clock-o"></i> 27 September 2016</p>
                        <h4 class="card-title">
                            <a href="blog-single.html">Apple's latest iPhones: USB-C ya later, for now</a>
                        </h4>
                        <p class="card-description">
                            A few hours before the Apple event, I made a bet with a coworker: I think this new iPhone is going.
                            <a
                                href="blog-single.html"> Read More </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blog">
                    <div class="card-image">
                        <a href="blog-single.html">
                            <img class="img img-raised img-responsive" src="assets/img/blog/blog2.jpg" alt="img" />
                        </a>
                    </div>
                    <div class="content">
                        <h6 class="category text-success">
                            Startups
                        </h6>
                        <p>
                            <i class="fa fa-clock-o"></i> 20 September 2016</p>
                        <h4 class="card-title">
                            <a href="blog-single.html">Facing your fears with Virtual Reality</a>
                        </h4>
                        <p class="card-description">
                            Fear isn’t always such a bad thing. It is, after all, a self-preservation response programmed into our DNA that can be useful
                            in keeping us out of harm’s way.
                            <a href="blog-single.html"> Read More </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blog">
                    <div class="card-image">
                        <a href="blog-single.html">
                            <img class="img img-raised img-responsive" src="assets/img/blog/blog3.jpg" alt="img" />
                        </a>
                    </div>
                    <div class="content">
                        <h6 class="category text-danger">
                            Marketing
                        </h6>
                        <p>
                            <i class="fa fa-clock-o"></i> 18 September 2016</p>
                        <h4 class="card-title">
                            <a href="blog-single.html">Teaching machines to predict the future</a>
                        </h4>
                        <p class="card-description">
                            Our ability to anticipate actions is thanks to intuitions born out of a lifetime of experiences.
                            <a
                                href="blog-single.html"> Read More </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blog">
                    <div class="card-image">
                        <a href="blog-single.html">
                            <img class="img img-raised img-responsive" src="assets/img/blog/blog4.jpg" alt="img" />
                        </a>
                    </div>
                    <div class="content">
                        <h6 class="category text-info">Technology</h6>
                        <p>
                            <i class="fa fa-clock-o"></i> 27 September 2016</p>
                        <h4 class="card-title">
                            <a href="blog-single.html">Feds will formally recall Samsung Galaxy Note 7</a>
                        </h4>
                        <p class="card-description">
                            Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software
                            company.
                            <a href="blog-single.html"> Read More </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blog">
                    <div class="card-image">
                        <a href="blog-single.html">
                            <img class="img img-raised img-responsive" src="assets/img/blog/blog5.jpg" alt="img" />
                        </a>
                    </div>
                    <div class="content">
                        <h6 class="category text-success">SEO</h6>
                        <p>
                            <i class="fa fa-clock-o"></i> 26 September 2016</p>
                        <h4 class="card-title">
                            <a href="blog-single.html">5 SEO secrets you’ll be surprised you didn’t know​</a>
                        </h4>
                        <p class="card-description">
                            Getting your site to rank in Google can be a tough slog. It requires knowledge of current ranking factors, as well as the
                            time and ability to optimize
                            <a href="blog-single.html"> Read More </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blog">
                    <div class="card-image">
                        <a href="blog-single.html">
                            <img class="img img-raised img-responsive" src="assets/img/blog/blog6.jpg" alt="img" />
                        </a>
                    </div>
                    <div class="content">
                        <h6 class="category text-danger">Typhography</h6>
                        <p>
                            <i class="fa fa-clock-o"></i>15 September 2016</p>
                        <h4 class="card-title">
                            <a href="blog-single.html">Styles come and go. Good design is a language, not a style.</a>
                        </h4>
                        <p class="card-description">
                            Creativity is to discover a question that has never been asked. If one brings up an idiosyncratic question, the answer he
                            gives will
                            <a href="blog-single.html"> Read More </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog news -->