<div class="" id="headers">
    <!--  Header -->
    <div class="header">
        <nav id="sticky-nav" class="navbar navbar-custom sticky navbar-center">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="" href="#up">
                        <img src="assets/img/logo.png" alt="logo" class="img-responsive navbar-brand">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navigation-example">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#about">Nosotros</a>
                        </li>
                        <li>
                            <a href="#services">¿Cómo Funciona?</a>
                        </li>
                        <li>
                            <a href="#price">Tarifas</a>
                        </li>

                        <li>
                            <a href="#clients">Historias</a>
                        </li>

                        <li>
                            <a href="#contact">Únete</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="home" class="page-hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2">
                        <h1 class="title">Bienvenidos a PIKBIK</h1>
                        <p class="up-type-title">
                            <span class="animated-text" id="animated-text"></span>
                        </p>
                        <p class="p-details">
                          Primer sistema colaborativo de bicicletas en el que las personas prestan sus bicis para que otras las utilicen.
                        </p>
                        <div class="header-app-icons">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/pikbikpe/" target="_blank" class="btn">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>                                
                                <li>
                                    <a href="#link" class="btn">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="#link" class="btn">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>                                -->
                                <li>
                                    <a href="https://www.instagram.com/pikbik_/" target="_blank" class="btn">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="#contact" class="btn btn-info btn-md">
                            <i class="fa fa-paper-plane-o"></i> Únete
                        </a>
                        <!--
                        <a href="#btn" class="btn btn-success btn-md">
                            <i class="fa fa-bolt"></i> Sign up
                        </a>
                        -->
                    </div>
                    <div class="col-md-5 text-center">
                        <img src="assets/img/header-img.png" alt="header image" class="header-img img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header -->
</div>
