<!-- Footer -->
<footer class="footer section">
    <div class="container footer-widget">
        <div class="row">
            <div class="col col-sm-3">
                <a href="#">
                    <img src="assets/img/logo.png" alt="Company logo" class="footer-logo img-responsive">
                </a>
                <div class="social">
                    <a href="https://www.facebook.com/pikbikpe/" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>                    
                    <a href="#social">
                        <i class="fa fa-youtube"></i>
                    </a>
                    <!-- <a href="#social">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#social">
                        <i class="fa fa-youtube-play"></i>
                    </a> -->                   
                    <a href="https://www.instagram.com/pikbik_/" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
                <!-- /Social -->
                <hr class="up-hr">
                <!-- <a class="btn btn-primary light btn-sm" href="#link">Download now</a> -->
            </div>
            <div class="col col-sm-3">
                <h6 class="typo-light hd">Mapa del sitio</h6>
                <ul class="list-1">
                    <li>
                        <a href="#about"><i class="fa fa-users"></i> Nosotros</a>
                    </li>
                    <li>
                        <a href="#services"><i class="fa fa-bicycle"></i> ¿Cómo funciona?</a>
                    </li>
                    <li>
                        <a href="#price"><i class="fa fa-credit-card"></i> Tarifas</a>
                    </li>
                    <li>
                        <a href="#clients"><i class="fa fa-user"></i> Historias</a>
                    </li>
                    <li>
                        <a href="#contact"><i class="fa fa-paper-plane"></i> Únete</a>
                    </li>
                </ul>
            </div>
            <!-- <div class="col col-sm-3">
                <h6 class="typo-light hd">Link</h6>
                <ul class="list-1">
                    <li>
                        <a href="#link">Blog</a>
                    </li>
                    <li>
                        <a href="#link">About us</a>
                    </li>
                    <li>
                        <a href="#link">Privacy</a>
                    </li>
                    <li>
                        <a href="#link">Term and Condition</a>
                    </li>
                </ul>
            </div> -->
            <!-- <div class="col col-sm-3">
                <h6 class="typo-light hd">Link</h6>
                <ul class="list-1">
                    <li>
                        <a href="#link">Blog</a>
                    </li>
                    <li>
                        <a href="#link">About us</a>
                    </li>
                    <li>
                        <a href="#link">Privacy</a>
                    </li>
                    <li>
                        <a href="#link">Term and Condition</a>
                    </li>
                </ul>
            </div> -->
        </div>
        <hr>
        <p class="copyright">Creado por Pikbik
            <i class="fa fa-bicycle"></i> 2018</p>
    </div>
</footer>
<!-- ./Footer section -->