<!-- services -->
<section class="section services bg-gray" id="services">
    <div class="container">
        <div class="section-heading text-center wow fadeInUp">
            <h2 class="title text-center">Conviértete en un Biker o Piker: Usa o presta una bicicleta.</h2>
            <ul class="nav nav-pills nav-pills-primary">
                <li class="active">
                    <a href="#web-design" data-toggle="tab"><h4>Biker</h4></a>
                </li>
                <li>
                    <a href="#web-dev" data-toggle="tab"><h4>Piker</h4></a>
                </li>
            </ul>
            <br>
        </div>
        <div>
            <div class="tab-content tab-space">
                <!-- tab web-design -->
                <div class="tab-pane active" id="web-design">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img-container">
                                <img src="assets/img/web-design.png" alt="Feature image" class="feature-img img-responsive" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Elige tu bici</h4>
                                    <p>
                                      Comunícate con nosotros para contarte qué tipos de bicicletas podemos prestarte.
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="fa fa-credit-card"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Confirma el pago</h4>
                                    <p>
                                      Envíanos la constancia de pago para hacer efectiva tu reserva cuanto antes.
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="fa fa-bicycle"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Recoge tu bici</h4>
                                    <p>
                                      Coordinaremos juntos el día y la hora de entrega, incluso el lugar que prefieras.
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                              <div class="icon icon-primary">
                                <i class="fa fa-street-view"></i>
                              </div>
                              <div class="description">
                                <h4 class="info-title">Siempre contigo</h4>
                                <p>
                                  Comunícate con nosotros en cualquier momento si tú o la bici sufren cualquier eventualidad.
                                </p>
                              </div>
                            </div>
                            <div class="info info-horizontal">
                              <div class="icon icon-primary">
                                <i class="fa fa-hourglass-half"></i>
                              </div>
                              <div class="description">
                                <h4 class="info-title">Siendo puntuales</h4>
                                <p>
                                  Devuelve la bici cuando haya terminado el préstamo para que otro Biker pueda usarla.
                                </p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end tab mobile -->
                <!-- tab web-dev -->
                <div class="tab-pane" id="web-dev">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <div class="img-container">
                                <img src="assets/img/web-dev.png" alt="Feature image" class="feature-img img-responsive" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Presta tu bici</h4>
                                    <p>
                                      Comunícate con nosotros para conocer las principales características de tu bicicleta.
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="fa fa-book"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Firmamos un contrato</h4>
                                    <p>
                                      Conocerás cuánto ganarás por prestar tu bici, la cual será entregada a un Biker que la necesite por un periodo determinado.
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="fa fa-phone-square"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Seguridad garantizada</h4>
                                    <p>
                                      Comunícate con nosotros en cualquier momento para que conozcas con quién está tu bici y resuelvas cualquier duda que tengas.
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                              <div class="icon icon-primary">
                                <i class="fa fa-credit-card"></i>
                              </div>
                              <div class="description">
                                <h4 class="info-title">Ingresos por uso</h4>
                                <p>
                                  Te informaremos cada vez que un Biker use tu bici y recibirás un pago mensualmente por ello.
                                </p>
                              </div>
                            </div>
                            <div class="info info-horizontal">
                              <div class="icon icon-primary">
                                <i class="fa fa-bicycle"></i>
                              </div>
                              <div class="description">
                                <h4 class="info-title">Retiro de bici</h4>
                                <p>
                                  En base al contrato que celebremos tendrás tu bici de vuelta contigo y lista para que la uses cuanto antes.
                                </p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end tab tablet -->
                <!-- tab desktop -->
                <div class="tab-pane" id="desktop">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <div class="img-container">
                                <img src="assets/img/mac-app.png" alt="Feature image" class="feature-img img-responsive" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="fa fa-desktop"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Desktop App</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate hic odit nisi quo
                                        excepturi laudantium?</p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="fa fa-heart-o"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Mac App</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus reiciendis unde atque
                                        voluptate commodi saepe!</p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="fa fa-code"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Code Quality</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolor dolorem animi
                                        officiis quisquam quia.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end tab desktop -->
            </div>
        </div>
    </div>
    <!-- End container -->
</section>
<!-- End services -->
